body{
	margin: 0px;
	overflow: hidden;
}

h2{
	font-size: 50px;
	line-height: normal;
	margin: 0;
}

p{
	margin: 0px;
}

a{
	text-decoration: none;
}

.container{
	padding: 50px;
	max-width: 1920px;
}

.card{
	width: 300px;
	position: absolute;
}

.progress-bar {
    transition: none !important;
}

.gold-card{
	left: 5%;
	top: 5%;
}

.glory-card{
	left: 5%;
	top: 5%;
}

.peasent-card{
	left: 10%;
	top: 10%;
}
.farm-card{
	left: calc(10% + 305px);
	top: 10%;
}

.merchent-card{
	left: 15%;
	top: 15%;
}
.market-card{
	left: calc(15% + 305px);
	top: 15%;
}

.scholar-card{
	left: 20%;
	top: 20%;
}

.alch-card{
	left: calc(20% + 305px);
	top: 20%;
}

.knight-card{
	left: 25%;
	top: 25%;
}
.war-card{
	left: calc(25% + 305px);
	top: 25%;
}

.priest-card{
	left: 30%;
	top: 30%;
}
.cathedral-card{
	left: calc(30% + 305px);
	top: 30%;
}

.god-card{
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}



.card-header{
	padding: 2px 18px;
	cursor: move;
}
.card-body{
	padding: 18px;
}

.card-body p{
	padding-bottom: 20px;
}

.cards-wrapper{
	display: flex;
	gap: 20px;
}

.btn{
	cursor: pointer;
	padding: 6px 12px;
}

.btn.active {
    border: 2px inset #fff !important;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    /*background: url(background.bmp);*/
}

.taskbar .btn.active{
	vertical-align: middle;
	    border-right: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	    font-family: Arial;
	    font-weight: 400;
	    color: #000;
	    margin: 0px;
}
.taskbar .start-button{
	cursor: pointer;
	padding: 6px 12px;
	margin: 3px 1px;
}


.hidden{
	display: none !important;
}

.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.pl-5{
	padding-left: 5px;
}
.pb-10{
	padding-bottom: 10px !important;
}

.width-100{
	width: 100%;
}
.flex{
	display: flex;
}
.flex-1{
	flex: 1;
}
.gap-20{
	gap: 20px;
}
.space-between{
	justify-content: space-between;
}
.flex-col{
	flex-direction: column;
}

legend{
	font-weight: bold;
	border-bottom: 1px solid;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

.font-12{
	font-size: 12px;
}


/* More WIN 95 */

.progress {
	margin-bottom: 10px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    padding-bottom: 5px;
}

.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    color: #6c757d;
}

.form-check-label::before {
	height: 10px;
	width: 10px;
	cursor: pointer;
}

input[type="radio"] + .form-check-label::after {
    width: 6px;
    height: 6px;
    margin: 4.5px;
}

.form-check-label{
	margin: 0px;
	cursor: pointer;
}

.progress-bar-blocks {
    height: 100%;
}